@import '../../../../scss/variables';

.operators-panel {
  padding: $font-xlg;

  .fas {
    font-size: $font-lg;
  }
}

.contents-panel {
  padding: $font-xlg $font-xlg*2;

  .text-div-node {
    width: 100%;
    min-height: $space-lg;
    line-height: $space-lg;
    word-break: break-all;
  }
  
  .text-div-node:focus {
    outline: none;
    border: none;
    border-bottom: 1px solid $border-light;
  }
  
  [contenteditable=true]:first-child:empty:before {
    content: attr(placeholder);
    display: block;
    color: $placeholder;
  }

  .delete-icon {
    font-size: $font-xmd;
    float: right;
    cursor: pointer;
  } 
}

.hide {
  display: none !important;
}