/* You can add global styles to this file, and also import other style files */
@import "~@angular/material/prebuilt-themes/indigo-pink.css";
@import url('https://fonts.googleapis.com/css?family=Rubik');

// custom scss variables
@import './variables';

* {
  font-family: 'Rubik';
}

html, 
body {
  margin: 0px;
  padding: 0px;
}

// common scss classes
.items-spacer {
  flex: 1 1 auto;
}